{
  presets: [
    'env',
    'latest',
    'react',
  ],
  comments: false,
  plugins: [
    [
      'import',
      {
        libraryName: 'antd',
        libraryDirectory: 'lib',
        style: 'css'
      },
    ]
  ],
  env: {
    test: {
      plugins: [
        'istanbul'
      ]
    }
  }
}
