language: node_js
sudo: false
node_js:
  - 8
addons:
  apt:
    packages:
      - xvfb
      - libgconf-2-4
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1366x768x24 > /dev/null 2>&1 &
script:
  - npm i vuepress macaca-ecosystem
  - npm run docs:build
  - $(npm bin)/macaca-ecosystem push --cwd ./docs_dist --branch gh-pages
  - npm i
  - npm run lint
  - npm run test:unit
  - npm run serve && npm run test:e2e
after_script:
  - npm install coveralls@2 && cat ./coverage/lcov.info | coveralls
